<div class="col-md-12">
    <h3>
        <button class="btn btn-primary-outline btn-sm" data-ui-sref="app.building({ tag: building })" style="border: none;">
            <i style="float: left; font-size: 22pt;" class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;
        </button>
        New Level
    </h3>
    <hr>
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-block" style="margin-bottom: 30px;">
                <h5>Informations</h5>
                <hr>
                <fieldset class="form-group">
                    <label for="level">Level</label>
                    <input type="number" class="form-control" id="level" placeholder="Level" data-ng-model="level.number">
                    <small class="text-muted">The number of level</small>
                </fieldset>
                <hr>
                <form data-ng-submit="newLevel()">
                    <fieldset class="form-group">
                        <label for="img">Image</label>
                        <label class="file" id="img" style="width: 100%;">
                            <input type="file" id="file">
                            <span class="file-custom"></span>
                        </label>
                        <small class="text-muted">The image of level</small>
                    </fieldset>
                    <img data-ng-if="level.pic" data-ng-src="{{level.pic}}" id="img-rendu" alt="">
                    <hr>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>