<div class="col-md-12">
    <h3>
        <button class="btn btn-primary-outline btn-sm" data-ui-sref="app.building({ tag: building })" style="border: none;">
            <i style="float: left; font-size: 22pt;" class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;
        </button>
        Level n°{{level.number}}
    </h3>
    <hr>
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="card-block" style="margin-bottom: 30px;">
                <h5>Informations</h5>
                <hr>
                <form data-ng-submit="updateLevel()">
                    <fieldset class="form-group">
                        <label for="img">Change image</label>
                        <label class="file" id="img" style="width: 100%;">
                            <input type="file" id="file">
                            <span class="file-custom"></span>
                        </label>
                        <small class="text-muted">The image of level</small>
                    </fieldset>
                    <hr>
                    <img data-ng-if="level.pic" class="img-fluid" data-ng-src="{{level.pic}}" width="100%">
                    <hr>
                    <button type="submit" class="btn btn-primary pull-right" data-ng-click="updateLevel()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>